<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <% const pagesPath = require('./path.js') %>
  <a href="<%= pagesPath.about.url().pathName %>"></a>
  <a href="<%= pagesPath.about.url('sample').pathName %>"></a>
</body>
</html>
